/* Navigation Thingy */


nav ul li {
    width: 15%;
    text-align: center;
    border: thick solid white;
    border-collapse: collapse;
    display: inline-block;
    background-color: orange;
}



/* Heading */


header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}


/* Body */

body {
    background: linear-gradient(blue, black, white);
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    margin: 0;
}

div.content {
    width: 95%;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "img1 welcometext img2"
        "img3 welcometext img4";
}

div.content img {
    width: 100%;
}

/* Images */

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
}

#img3 {
    grid-area: img3;
}

#img4 {
    grid-area: img4;
}

/* Text */

#welcometext {
    grid-area: welcometext;
    color: white;
    font-family: Verdana, sans-serif;
}


/* Mobile View */

@media (max-width: 768px) {
    nav ul li {
        width: 100%;
        display: block;
    }

    div.content {
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "welcometext"
            "img1"
            "img2"
            "img3"
            "img4";
        font-size: 30px;
    }

    header h1 {
        font-size: 2em; 
    }

    #contact h2 {
        font-size: 1.5em;
    }

    input,
    textarea {
        width: 90%; 
    }

    button {
        width: 90%; 
    }
}

